.hero{
    background-color: rgba(53, 111, 11, 0.4);
    background-image: url('../../images/hero-bg.avif');
    background-repeat: no-repeat;
    padding-top: 250px;
    padding-bottom: 350px;
    background-size: cover;
    
    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title{
        font-size: 35px;
        color: $text-color1;
    }
}