.info{
    padding-top: 90px;
    padding-bottom: 150px;
    background-color: $bg-color;

        background-image: url("../../images/bg-img.png");
        background-size: 100px;

    &__container{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    &__title{
        color: $text-color1;
        font-size: 30px;
    }
    &__box{
        display: flex;
        gap: 100px;
        background-color: $button-color;
        padding: 25px;
        border-radius: 20px;
    }
    &__text{
        max-width: 500px;
        color: $text-color1;
        font-size: 20px;
    }
    &__img{
        width: 350px;
    }
}