.infol{
    padding-top: 90px;
    padding-bottom: 150px;
    background-color: $bg-color;

    background-image:  url('../../images/lily-img2.png'), url('../../images/lily-img1.png');
    background-repeat: no-repeat;
    background-size: 500px, 400px;
    background-position: 0% 100%, 90% 100%;


    &__container{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    &__title{
        color: $text-color1;
        font-size: 30px;
    }
    &__box{
        display: flex;
        gap: 100px;
        background-color: $button-color;
        padding: 25px;
        border-radius: 20px;
    }
    &__text{
        max-width: 500px;
        color: $text-color1;
        font-size: 20px;
    }
    &__img{
        width: 350px;
    }
}